*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
	font-size: 100%;
}

.container-limited {
	margin: 0 auto;
	max-width: 1280px;
}


.flex-container {
	display: flex;
}

.flex-container.horizontal {
	flex-direction: row;
}

.flex-container.vertical {
	flex-direction: column;
}

.flex-container div {
	flex: 1;
}

.header {
	padding: 0 16px;
	font-weight: 700;
	font-size: 120%;
}

.merge-request {
	padding: 16px;
	font-size: 120%;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin: 16px;
}

.note-author-image {
	width: 32px;
	height: 32px;
}

.template {
	display: none;
}

